<style>
#leftbar {
  background-color: #ddd !important;
}

#tracker {
  color: #111;
}

.sidebar-title {
  background-color: transparent;
}
  
.sidebar1-title {
  background-color: transparent;
}

.sidebar-category-name {
  color: #111;
  margin-top: 20px;
}
  
.sidebar1-category-name {
  color: #111;
  margin-top: 20px;
}

.sidebar-item {
  border-top: 1px #bbb solid !important;
  border-right: 0px black solid !important;
  background-color: transparent !important;
  color: #111 !important;
}
  
.sidebar1-item {
  border-top: 1px #bbb solid !important;
  border-right: 0px black solid !important;
  background-color: transparent !important;
  color: #111 !important;
}

.sidebar-item:last-child {
  border-bottom: 1px #bbb solid;
}
  
.sidebar1-item:last-child {
  border-bottom: 1px #bbb solid;
}

.sidebar-item:hover {
  background-color: #bbb !important;
}
  
.sidebar1-item:hover {
  background-color: #bbb !important;
}

.sidebar-item.success {
  background-color: #a6cba6 !important;
}
  
.sidebar1-item.success {
  background-color: #a6cba6 !important;
}

.sidebar-item.success .checkmark {

}
  
.sidebar1-item.success .checkmark {

}

.sidebar-item.disabled {
  color: #777 !important;
}
  
.sidebar1-item.disabled {
  color: #777 !important;
}
</style>
